absl-py
accelerate
albumentations
decord
diffusers
gdown
imageio
imageio-ffmpeg
jaxtyping
kornia
lpips
ninja
numpy<2
omegaconf
openmesh
opencv-python-headless
pandas
Pillow
plyfile
pycocotools
pyrender
PyYAML
rembg
requests
scikit-learn
scipy
smplx
tensorboard
termcolor
torch
torchvision
tqdm
trimesh
typeguard
yacs
